Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=CATALINA_PID=/home/ubuntu/apache-tomcat-10.1.19/temp/tomcat.pid
Environment=CATALINA_HOME=/home/ubuntu/apache-tomcat-10.1.19
Environment=CATALINA_BASE=/home/ubuntu/apache-tomcat-10.1.19

ExecStart=/home/ubuntu/apache-tomcat-10.1.19/bin/startup.sh

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target